@charset "utf-8";

$pc: 1024px; // PC
$tab: 780px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}
@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

/* 共通部分 */
html {
    font-size: 100%;
}
body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, YuGothic, メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height: 1.5;
    color: #333;
    @include sp {
        font-size: 16px;
    }
}
a {
    text-decoration: none;
    color: #333;
    &:hover {
        opacity: .7;
    }
}
img {
    max-width: 100%;
}
.section {
    padding: 100px 0;
    @include sp {
        padding: 60px 0;
    }
}
.section-title-area {
    margin-bottom: 40px;
    text-align: center;
    @include sp {
        margin-bottom: 20px;
    }
}
.section-title {
    font-family: "Open sans", sans-serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing: .05em;
    @include sp {
        font-size: 22px;
    }
}
.section-image a {
    display: block;
}
.section:nth-of-type(odd) {
    background-color: #f7f7f7;
}
.inner {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 4%;
    overflow: hidden;
}
/* ヘッダー */
.header {
    background-color: #a8e6cf;
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sp {
        height: 50px;
        justify-content: flex-end;
    }

    .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    li {
        font-family: "Open sans", sans-serif;
        font-size: 16px;
        padding: 0 24px;
        letter-spacing: .05em;
    }
    li a {
        
        &:hover {
            opacity: 0.6;
            border-bottom:solid 3px #ffaaa5;
            display: inline-block;
        }
    }
    .active {
        border-bottom:solid 3px #ffaaa5;
        display: inline-block;
    }
    .nav-wrapper {
        @include sp {
            display: none;
            width: 100vw;
            height: 80vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }
    .burger-btn{
        display: none;
        @include sp {
            display: block;
            width: 39px;
            height: 39px;
            position: relative;
            z-index: 3;
            background-color:transparent;
            border:none;
        }
    }
    .bar {
        @include sp {
            width: 20px;
            height: 1px;
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: #ffaaa5;
        }
    }
    .bar_top {
        @include sp {
            top: 10px;
        }
    }
    .bar_mid {
        @include sp {
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .bar_bottom {
        @include sp {
            bottom: 10px;
        }
    }
    .burger-btn.close .bar_top {
        @include sp {
            transform: translate(-50%,10px) rotate(45deg);
            transition: transform .3s;
        }
    }
    .burger-btn.close .bar_mid {
        @include sp {
            opacity: 0;
            transition: opacity .3s;
        }
    }
    .burger-btn.close .bar_bottom {
        @include sp {
            transform: translate(-50%,-8px) rotate(-45deg);
            transition: transform .3s;
        }
    }
    .header-nav {
        @include sp {
            width: 100%;
            height: 100%;
            background-color:#f7f7f7;
            z-index: 2;
            box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
        }
    }
    .header-nav .nav-list {
        @include sp {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
    }
}

/* fv */
.fv {
    height: 100vh;
    /* 背景画像の設定 */
    background: linear-gradient(rgba(247, 247, 247, 0.8), rgba(207, 245, 196, 0.8)),url(../img/mv.jpg);
    background-size: cover;
    background-position: top center;
    /* メインコピーの上下左右中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include sp {
        height: 90vh;
        background-position: left bottom;
    }

    .logo-title {
        font-family: 'Dancing Script', cursive;
        font-size: 64px;
        line-height: 1;
        letter-spacing: .2em;
        @include sp {
            font-size: 28px;
            letter-spacing: .16em;
        }
    }
    .logo-desc {
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        margin-top: 5px;
        text-align: center;
        letter-spacing: .2em;
        @include sp {
            font-size: 11px;
        }
    }
}

/*  ABOUT */
#about {
    .section-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section-image {
        flex-basis: 25%;
        @include sp {
            flex-basis: 50%;
            margin: 0 auto;
        }
    }
    .section-image img {
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0 0 25px 0 #d9d9d9;
        @include sp {
            flex-basis: 100px;
            margin: 0 auto 20px;
        }
    }
    .section-desc {
        flex-basis: 62%;
        @include sp {
            flex-basis: 100%;
        }
    }
    .section-list {
        margin-top: 20px;
    }
    .section-list ul {
        display: flex;
        justify-content: space-between;
        width: 200px;
        @include sp {
            margin: 0 auto;
        }
    }
    li {
        display: flex;
        background-color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        &:hover {
            transform: translateY(-3px);
            transition-duration: 0.5s;
            box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
        }
    }
    li a {
        color: #ffd3b6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

/* SKILL */
#skill {
    .skill-wrapper {
        max-width: 700px;
        margin:0 auto;
        @include tab {
            max-width: 550px;
        }
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

    }
    tr {
        border-bottom: solid 2px white;
    }
    table tr:last-child {
        border-bottom: none;
    }
    
    table th {
        width: 45%;
        background-color: #a8e6cf;
        text-align: center;
        padding: 10px 0;
        @include sp {
            width: 45%;
            font-size: 12px;
        }
    }
    table td {
        width: 55%;
        background-color: #f7f7f7;
        padding: 10px;
        @include sp {
            padding: 0 5px;
        }
    }
    table tr:nth-child(1) .skill-icon {
        position: relative;
        @include sp {
            padding-left: 20px;
        }
        &::before {
            position: absolute;
            content: "";
            background-image: url(../img/html-5.png);
            background-size: cover;
            top: 12px;
            left: 0;
            width: 28px;
            height: 28px;
            margin-left: 35px;
            @include sp {
                margin-left: 10px;
                top: 6px;
                left: 5px;
            }
        }
    }
    table tr:nth-child(2) .skill-icon {
        position: relative;
        @include sp {
            padding-left: 20px;
        }
        &::before {
            position: absolute;
            content: "";
            background-image: url(../img/sass.png);
            background-size: cover;
            top: 12px;
            left: 0;
            width: 28px;
            height: 28px;
            margin-left: 35px;
            @include sp {
                margin-left: 10px;
                top: 6px;
                left: 5px;
            }
        }
    }
    table tr:nth-child(3) .skill-icon {
        position: relative;
        @include sp {
            padding-left: 20px;
        }
        &::before {
            position: absolute;
            content: "";
            background-image: url(../img/javascript.png);
            background-size: cover;
            top: 12px;
            left: 0;
            width: 28px;
            height: 28px;
            margin-left: 35px;
            @include sp {
                margin-left: 10px;
                top: 6px;
                left: 5px;
            }
        }
    }
    table tr:nth-child(4) .skill-icon {
        position: relative;
        @include sp {
            padding-left: 20px;
        }
        &::before {
            position: absolute;
            content: "";
            background-image: url(../img/WordPress.png);
            background-size: cover;
            top: 12px;
            left: 0;
            width: 28px;
            height: 28px;
            margin-left: 35px;
            @include sp {
                margin-left: 10px;
                top: 6px;
                left: 5px;
            }
        }
    }
    table tr:nth-child(5) .skill-icon {
        position: relative;
        @include sp {
            padding-left: 20px;
        }
        &::before {
            position: absolute;
            content: "";
            background-image: url(../img/php.png);
            background-size: cover;
            top: 12px;
            left: 0;
            width: 28px;
            height: 28px;
            margin-left: 35px;
            @include sp {
                margin-left: 10px;
                top: 6px;
                left: 5px;
            }
        }
    }
    table tr:nth-child(6) .skill-icon {
        position: relative;
        @include sp {
            padding-left: 20px;
        }
        &::before {
            position: absolute;
            content: "";
            background-image: url(../img/adobe-photoshop.png);
            background-size: cover;
            top: 10px;
            left: 0;
            width: 28px;
            height: 28px;
            margin-left: 35px;
            @include sp {
                margin-left: 10px;
                top: 6px;
                left: 5px;
            }
        }
    }
    table tr:nth-child(7) .skill-icon {
        position: relative;
        @include sp {
            padding-left: 20px;
        }
        &::before {
            position: absolute;
            content: "";
            background-image: url(../img/adobe-xd.png);
            background-size: cover;
            top: 10px;
            left: 0;
            width: 28px;
            height: 28px;
            margin-left: 35px;
            @include sp {
                margin-left: 10px;
                top: 6px;
                left: 5px;
            }
        }
    }
    table tr:last-child .skill-icon {
        position: relative;
        @include sp {
            padding-left: 20px;
        }
        &::before {
            position: absolute;
            content: "";
            background-image: url(../img/adobe-illustrator.png);
            background-size: cover;
            top: 10px;
            left: 0;
            width: 28px;
            height: 28px;
            margin-left: 35px;
            @include sp {
                margin-left: 10px;
                top: 6px;
                left: 5px;
            }
        }
    }
    .rate {
        font-size: 20px;
        position: relative;
        display: inline-block;
        width: 90%;
        height: 25px;
        letter-spacing: 1.5em;
        margin-left: 30px;
        @include sp {
            font-size: 15px;
            height: 15px;
            letter-spacing: .8em;
            margin-left: 15px;
        }
    }
    .rate:before,
    .rate:after {
        line-height: 25px;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 25px;
        content: "★★★★★";
        @include sp {
            line-height: 15px;
            height: 15px;
        }
    }
    .rate:before {
        color: #ddd;
    }
    .rate:after {
        overflow: hidden;
        white-space: nowrap;
        color: #ffaaa5;
    }
    .rate1:after {
        width: 20px;
        @include sp {
            width: 15px;
        }
    }
    .rate2:after {
        width: 75px;
        @include sp {
            width: 50px;
        }
    }
    .rate3:after {
        width: 120px;
        @include sp {
            width: 70px;
        }
    }
    .rate4:after {
        width: 175px;
        @include sp {
            width: 100px;
        }
    }
    .rate5:after {
        width: 225px;
        @include sp {
            width: 125px;
        }
    }
}
/* WORKS */
#works {
    .card {
        flex-basis: 31%;
        margin-bottom: 60px;
        @include sp {
            flex-basis: 48%;
            margin-bottom: 30px;
        }
        a img {
            min-height: 250px;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
            -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
            @include sp {
                min-height: 150px;
            }
            &:hover {
                transform: translateY(-10px);
                transition-duration: 0.5s;
            }
        }
    }
    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card-wrapper::after {
        display: block;
        flex-basis: 31%;
        content: "";
    }
    .card-caption {
        text-align: center;
        @include sp {
            text-align: left;
        }
    }
    .card-caption-title {
        font-size: 12px;
        font-weight: bold;
        margin-top: 8px;
        @include sp {
            font-size: 10px;
        }
    }
    .card-caption-info {
        font-size: 10px;
    }
    .card-caption-url {
        font-size: 10px;
    }
}

/* feature */
#feature {
    .section-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .section-image {
        flex-basis: 58%;
        @include sp {
            flex-basis: 100%;
            margin-bottom: 20px;
        }
    }
    .section-image a {
        &:hover {
            transform: translateY(-10px);
            transition-duration: 0.5s;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
    }
    .section-image img {
        width: 100%;
        margin: 0 auto;
        height: 500px;
    }
    .section-desc {
        flex-basis: 37%;
        @include sp {
            flex-basis: 100%;
        }
    }
    .text-bold {
        font-weight: bold;
    }
    .section-body:last-child {
        flex-flow: row-reverse;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* contact */
#contact {
    background-image: url(../img/contact_image.jpg);
    background-size: cover;
    background-position: left bottom;
    @include sp {
        background-image: url(../img/contact_image_sp.jpg);
        background-position: top;
    }
    .container {
        max-width:700px;
        margin:0 auto;
        text-align:center;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        background-color: #f7f7f7;
        @include sp {
            width: 90%;
        }
    }
    .head {
        -webkit-border-radius:6px 6px 0px 0px;
        -moz-border-radius:6px 6px 0px 0px;
        border-radius:6px 6px 0px 0px;
        background-color: #a8e6cf;
        padding:18px 0 18px 0;
    }
    .contact-title-area {
        margin-bottom: 0;
    }
    input {
        margin-bottom:10px;
    }
    textarea {
        height:100px;
        margin-bottom:10px;
    }
    input:first-of-type {
        margin-top:35px;
    }
    input, textarea {
        font-size: 1em;
        padding: 15px 10px 10px;
        border: 1px solid #cecece;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 80%;
        max-width: 600px;
        @include sp {
            width: 90%;
        }
    }
    button {
        margin-top:15px;
        margin-bottom:25px;
        background-color: #a8e6cf;
        padding: 12px 45px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #a8e6cf;
        -webkit-transition: .5s;
        transition: .5s;
        display: inline-block;
        cursor: pointer;
        width:30%;
        color:#fff;
        box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
        @include sp {
            width: 90%;
        }
    }
    button:hover, .button:hover {
        background:#19a08c;
    }
    .message {
        display: none;
        color:#ffaaa5;
    }
    label.error {
        font-size:1em;
        display:block;
        padding-top:10px;
        padding-bottom:10px;
        background-color:#ffaaa5;
        width: 80%;
        margin:auto;
        color: #FAFAFA;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        @include sp {
            width: 90%;
        }
    }
}
/* Footer */
#footer {
    background-color: #D5D5D5;

    .inner {
        padding: 30px;
        @include sp {
            padding: 20px 0;
        }
    }
    .copyright {
        font-size: 10px;
        text-align: center;
        color: #8c8c8c;
    }
}
/* ホームボタン */
.floating {
    position: fixed;
    right: 8px;
    bottom: 8px;
    display: none;
    z-index: 10;
    width: 50px;
    height: 50px;
    background-color: #a8e6cf;
    border-radius: 15px;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    
}
.home {
    font-size: 25px;
    color: white;
}
.floating a {
    display: block;
    padding: 8px;
    text-decoration: none;
    text-align: center;
}
