@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
/*========= base ===========*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #333333;
  line-height: 1.5;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 780px) {
  .inner {
    padding: 0 4%;
  }
}

@media (max-width: 480px) {
  .inner {
    padding: 0 4%;
    max-width: 380px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section_title {
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 480px) {
  .section_title {
    text-align: center;
    margin-bottom: 20px;
  }
}

.section_title .title {
  position: relative;
  display: inline-block;
  font-size: 36px;
  font-family: 'Alice', serif;
  padding-bottom: 12px;
}

@media (max-width: 480px) {
  .section_title .title {
    font-size: 28px;
  }
}

.section_title .title:after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 150px;
  height: 5px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #F3E1E1;
}

@media (max-width: 480px) {
  .section_title .title:after {
    width: 100px;
  }
}

.section:nth-of-type(odd) {
  background-color: #FCF9F9;
}

.section:nth-of-type(even) {
  background-color: #ffff;
}

/* header */
#header {
  background-color: #FAF2F2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  /* drawer */
}

#header .inner {
  display: flex;
}

#header .header-title img {
  width: 230px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 480px) {
  #header .header-title img {
    width: 200px;
  }
}

#header .header-nav {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  line-height: 70px;
}

@media (max-width: 780px) {
  #header .header-nav {
    display: none;
  }
}

#header .header-nav ul {
  display: flex;
}

#header .header-nav-item {
  margin-right: 50px;
  font-size: 18px;
  font-family: 'Alice', serif;
}

#header .header-nav-item a {
  padding-bottom: 7px;
  /* 文字と下線に隙間を作る */
  display: block;
}

#header .header-nav-item a:hover {
  opacity: 0.6;
  border-bottom: 3px solid #7D5A5A;
  display: inline-block;
}

#header .active {
  border-bottom: 3px solid #7D5A5A;
  display: inline-block;
}

#header .header-nav-item:last-child {
  margin-right: 0;
}

#header .drawer {
  display: none;
}

@media (max-width: 780px) {
  #header .drawer {
    display: block;
  }
}

@media (max-width: 480px) {
  #header .drawer {
    display: block;
  }
}

#header .drawer-menu {
  margin-top: 80px;
  text-align: center;
}

#header .drawer-menu li a {
  font-family: 'Alice', serif;
}

#header .drawer-hamburger-icon,
#header .drawer-hamburger-icon:after,
#header .drawer-hamburger-icon:before {
  height: 3px;
}

#header .drawer--right.drawer-open .drawer-hamburger {
  right: 0px;
}

/* top */
#top {
  background-image: url(../img/mv.png);
  background-size: cover;
  height: 700px;
  border-bottom-left-radius: 50% 8%;
  border-bottom-right-radius: 50% 8%;
  margin-top: 80px;
  background-color: #ffff;
}

@media (max-width: 780px) {
  #top {
    background-image: url(../img/mv-sp.png);
    height: 800px;
  }
}

@media (max-width: 480px) {
  #top {
    background-image: url(../img/mv-sp.png);
    background-position: center;
    height: 600px;
    border-bottom-left-radius: 50% 5%;
    border-bottom-right-radius: 50% 5%;
  }
}

/* topic */
#topic {
  /* 全体のスタイル */
  /* 現在のスライドのスタイル */
}

#topic .swiper-container {
  width: 960px;
  height: 300px;
}

@media (max-width: 780px) {
  #topic .swiper-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #topic .swiper-container {
    width: 100%;
  }
}

#topic .topic_item {
  position: relative;
  overflow: hidden;
  width: calc(33.33333333% - 10px * 2 / 3);
  height: 242px;
}

#topic figure:hover figcaption {
  opacity: 1;
}

#topic .image_area img {
  width: 300px;
  height: 242px;
  object-fit: cover;
}

@media (max-width: 780px) {
  #topic .image_area img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #topic .image_area img {
    width: 100%;
  }
}

#topic .title_area {
  padding: 10px 0 5px 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 300px;
  height: 242px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: .5s;
  transition: .6s;
  opacity: 0;
  color: #FAF2F2;
}

@media (max-width: 780px) {
  #topic .title_area {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #topic .title_area {
    width: 100%;
  }
}

#topic time {
  font-size: 14px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(-2deg);
}

#topic .topic_title {
  font-size: 18px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(-2deg);
}

#topic .swiper-pagination-bullet {
  width: 12px;
  /* 幅 */
  height: 12px;
  /* 高さ */
  background: #F3E1E1;
  /* 色：緑 */
  opacity: 0.5;
  /* 半透明（デフォルトでは0.2） */
}

#topic .swiper-pagination-bullet-active {
  background: #7D5A5A;
  /* 色：黄色 */
  opacity: 1;
  /* 不透明 */
}

/* Item */
#item .item_card {
  display: flex;
}

@media (max-width: 480px) {
  #item .item_card {
    padding-top: 40px;
  }
}

#item .title_area {
  width: 255px;
  text-align: center;
  margin-left: 60px;
}

@media (max-width: 780px) {
  #item .title_area {
    margin-left: 0;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  #item .title_area {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

#item h3 {
  font-family: 'Alice', serif;
  font-size: 30px;
  position: relative;
  display: inline-block;
  padding: 0 55px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  #item h3 {
    font-size: 24px;
    padding: 0 25px;
    margin-bottom: 10px;
  }
}

#item h3:before, #item h3:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 35px;
  height: 1px;
  background-color: #333333;
}

@media (max-width: 480px) {
  #item h3:before, #item h3:after {
    width: 20px;
  }
}

#item h3:before {
  left: 0;
}

#item h3:after {
  right: 0;
}

#item .title_area p {
  text-align: left;
}

@media (max-width: 480px) {
  #item .title_area p {
    text-align: center;
  }
}

#item .image_area {
  background-size: cover;
  width: 700px;
  height: 400px;
  margin-left: auto;
  margin-bottom: 80px;
}

@media (max-width: 780px) {
  #item .image_area {
    max-width: 460px;
  }
}

@media (max-width: 480px) {
  #item .image_area {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
}

#item .items {
  display: flex;
  flex-wrap: wrap;
}

#item .item {
  width: calc(25% - 15px * 3 / 4);
  margin-right: 15px;
  height: 350px;
  border: 1px solid #DDDDDD;
  background-color: #ffff;
}

@media (max-width: 780px) {
  #item .item {
    width: calc(50% - 15px * 1 / 2);
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  #item .item {
    height: auto;
  }
}

#item .item:hover {
  transform: translateY(-10px);
  transition-duration: .5s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
}

@media (max-width: 780px) {
  #item .item:nth-child(2n) {
    margin-right: 0;
  }
}

#item .item:last-child {
  margin-right: 0;
}

#item .item_image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  position: relative;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  #item .item_image {
    width: 100%;
    height: 150px;
  }
}

#item .ribbon-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 85px;
  height: 85px;
  overflow: hidden;
}

@media (max-width: 480px) {
  #item .ribbon-content {
    width: 80px;
    height: 80px;
  }
}

#item .item_name {
  padding: 10px;
}

@media (max-width: 480px) {
  #item .item_name {
    font-size: 14px;
  }
}

#item .category {
  background-color: #F3E1E1;
  display: inline-block;
  padding: 8px 25px;
  font-family: 'Alice', serif;
  display: inline-block;
  position: absolute;
  padding: 5px 0;
  left: -24px;
  top: 20px;
  width: 160px;
  text-align: center;
  font-size: 18px;
  line-height: 16px;
  background: #7D5A5A;
  color: #fff;
  letter-spacing: 0.05em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 0 0 0 2px #7D5A5A;
  border-top: dashed 1px rgba(255, 255, 255, 0.65);
  border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
}

@media (max-width: 480px) {
  #item .category {
    font-size: 14px;
    top: 15px;
  }
}

#item .name {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  #item .name {
    margin-bottom: 10px;
  }
}

#item .price {
  text-align: right;
}

#item .item_btn {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

@media (max-width: 480px) {
  #item .item_btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#item .btn {
  padding: 10px 50px;
  background-color: #7D5A5A;
  color: #FAF2F2;
  border-radius: 19px;
}

#item .btn:hover {
  border: 1px solid #7D5A5A;
  background-color: #FAF2F2;
  color: #7D5A5A;
  transition-duration: .5s;
}

@media (max-width: 480px) {
  #ring .item_card {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #ring .title_area {
    order: 2;
  }
}

#ring .image_area {
  margin-left: auto;
  background-image: url(../img/section-img1.png);
  background-position: center;
}

@media (max-width: 480px) {
  #ring .image_area {
    order: 1;
  }
}

#ring .item_image {
  background-image: url(../img/section-img1.png);
}

#ring .item:nth-child(1) .item_image {
  background-image: url(../img/ring1.png);
}

#ring .item:nth-child(2) .item_image {
  background-image: url(../img/ring2.png);
}

#ring .item:nth-child(3) .item_image {
  background-image: url(../img/ring3.png);
}

#ring .item:nth-child(4) .item_image {
  background-image: url(../img/ring4.png);
}

#necklace {
  padding-top: 100px;
}

@media (max-width: 480px) {
  #necklace .title_area {
    order: 2;
  }
}

@media (max-width: 480px) {
  #necklace {
    padding-top: 40px;
  }
}

#necklace .item_card {
  flex-flow: row-reverse;
}

@media (max-width: 480px) {
  #necklace .item_card {
    flex-direction: column;
  }
}

#necklace .image_area {
  background-image: url(../img/section-img2.png);
  background-position: center;
  margin-right: auto;
}

@media (max-width: 480px) {
  #necklace .image_area {
    order: 1;
  }
}

#necklace .title_area {
  margin-right: 60px;
}

@media (max-width: 780px) {
  #necklace .title_area {
    margin-right: 0;
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  #necklace .title_area {
    margin-left: 0;
  }
}

#necklace .item_image {
  background-position: bottom;
}

#necklace .item:nth-child(1) .item_image {
  background-image: url(../img/necklace1.png);
}

#necklace .item:nth-child(2) .item_image {
  background-image: url(../img/necklace2.png);
}

#necklace .item:nth-child(3) .item_image {
  background-image: url(../img/necklace3.png);
}

#necklace .item:nth-child(4) .item_image {
  background-image: url(../img/necklace4.png);
}

#bracelet {
  padding-top: 100px;
}

@media (max-width: 480px) {
  #bracelet {
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  #bracelet .item_card {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #bracelet .title_area {
    order: 2;
  }
}

#bracelet .image_area {
  background-image: url(../img/section-img3.png);
}

@media (max-width: 480px) {
  #bracelet .image_area {
    order: 1;
  }
}

#bracelet .item:nth-child(1) .item_image {
  background-image: url(../img/bracelet1.png);
}

#bracelet .item:nth-child(2) .item_image {
  background-image: url(../img/bracelet2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#bracelet .item:nth-child(3) .item_image {
  background-image: url(../img/bracelet3.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#bracelet .item:nth-child(4) .item_image {
  background-image: url(../img/bracelet4.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#bracelet .name {
  margin-bottom: 0;
}

@media (max-width: 780px) {
  #bracelet .name {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  #bracelet .name {
    margin-bottom: 10px;
  }
}

/* category */
#category .category-area {
  display: flex;
  flex-wrap: wrap;
}

#category .category_image {
  width: calc(33.33333333% - 30px * 2 / 3);
  margin-right: 30px;
  height: 120px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border: 1px solid #DDDDDD;
}

@media (max-width: 780px) {
  #category .category_image {
    width: calc(50% - 30px * 1 / 2);
  }
}

@media (max-width: 480px) {
  #category .category_image {
    width: 100%;
    margin-right: 0;
  }
}

#category .category_image:hover {
  transform: translateY(-10px);
  transition-duration: .5s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
}

#category .category_image:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 780px) {
  #category .category_image:nth-child(3n) {
    margin-right: 30px;
  }
}

@media (max-width: 480px) {
  #category .category_image:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 780px) {
  #category .category_image:nth-child(2n) {
    margin-right: 0;
  }
}

#category .category_image:nth-child(1) {
  background-image: url(../img/banner1.png);
}

#category .category_image:nth-child(2) {
  background-image: url(../img/banner2.png);
}

#category .category_image:nth-child(3) {
  background-image: url(../img/banner3.png);
}

#category .category_image:nth-child(4) {
  background-image: url(../img/banner4.png);
}

#category .category_image:nth-child(5) {
  background-image: url(../img/banner5.png);
}

#category .category_image:nth-child(6) {
  background-image: url(../img/banner6.png);
}

/* news */
#news .news__items {
  margin: 0 auto;
  width: 700px;
  max-width: 100%;
}

#news .news__item {
  border-bottom: 1px dotted #7C7C7C;
}

#news .news__item:hover {
  background-color: #FAF2F2;
  transition-duration: .5s;
}

#news .news__item:last-child {
  border: none;
}

#news .info {
  padding: 16px 6px;
  display: flex;
}

@media (max-width: 480px) {
  #news .info {
    display: block;
  }
}

#news .info__meta {
  display: flex;
  width: 150px;
  padding-top: 2px;
}

#news .info__published {
  width: 115px;
  display: inline-block;
  padding-top: 3px;
}

#news .info__title {
  line-height: 1.625;
  width: calc(100% - 115px - 50px);
}

@media (max-width: 480px) {
  #news .info__title {
    width: 100%;
  }
}

#news .info__title a {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease 0s;
}

#news .news-btn {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

#news .btn {
  padding: 10px 50px;
  background-color: #7D5A5A;
  color: #FAF2F2;
  border-radius: 19px;
}

#news .btn:hover {
  border: 1px solid #7D5A5A;
  background-color: #FAF2F2;
  color: #7D5A5A;
  transition-duration: .5s;
}

/* Info */
#info .inner {
  max-width: 1130px;
}

#info .info-area {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 480px) {
  #info .info-area {
    display: block;
  }
}

#info figure {
  position: relative;
  overflow: hidden;
  width: 550px;
  height: 300px;
}

@media (max-width: 780px) {
  #info figure {
    width: 340px;
    height: 226px;
  }
}

@media (max-width: 480px) {
  #info figure {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

#info figcaption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  color: #FAF2F2;
}

#info p {
  font-size: 26px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(-2deg);
}

#info figure:hover figcaption {
  opacity: 1;
}

/* end */
.end-bg {
  background-image: url(../img/end.png);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 500px;
}

@media (max-width: 780px) {
  .end-bg {
    background-position: left;
  }
}

@media (max-width: 480px) {
  .end-bg {
    background-image: url(../img/end-sp.png);
    background-position: center;
  }
}

/* footer-menu */
#footer-menu {
  background-color: #FAF2F2;
  padding: 27px 0;
}

#footer-menu .inner {
  text-align: center;
}

#footer-menu img {
  width: 175px;
  margin-bottom: 20px;
}

#footer-menu .footer-list {
  display: flex;
  justify-content: center;
  font-family: 'Alice', serif;
}

@media (max-width: 480px) {
  #footer-menu .footer-list {
    display: block;
  }
}

#footer-menu .list-item {
  margin-right: 24px;
}

@media (max-width: 480px) {
  #footer-menu .list-item {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

#footer-menu .list-item:last-child {
  margin-right: 0;
}

@media (max-width: 480px) {
  #footer-menu .list-item:last-child {
    margin-bottom: 0;
  }
}

/* footer */
#footer {
  padding: 8px 0;
  background-color: #7D5A5A;
}

#footer .inner {
  text-align: center;
}

#footer .copy {
  font-size: 12px;
  color: #ffff;
}

/* ホームボタン */
.floating {
  position: fixed;
  right: 10px;
  bottom: 30px;
  display: none;
  z-index: 99;
  width: 70px;
  height: 90px;
}

@media (max-width: 480px) {
  .floating {
    bottom: 10px;
    width: 60px;
    height: 80px;
  }
}

.floating a {
  display: block;
  padding: 8px;
  border: 1px solid #FAF2F2;
  background-color: #ffff;
  color: #7D5A5A;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
}

.floating a:hover {
  opacity: 1;
}
